{% extends 'base.html' %}

{% block title %}
Staff Registration
{% endblock title %}


{% block body %}
<div class="container px-5 py-5">
    <h1 class="text-center">Staff Register Now!</h1>
    <form method="post" action="/StaffSignUp">
        {% csrf_token %}
        <div class="mb-3">
          <label for="Staff_name" class="form-label">Name</label>
          <input type="text" name="Staff_name" class="form-control" id="Staff_name" placeholder="Enter Your Name">
        </div>
        <div class="mb-3">
            <label for="Staff_address" class="form-label">Address</label>
            <input type="text" name="Staff_address" class="form-control" id="Staff_address" placeholder="Enter Your Address">
        </div>
        <div class="mb-3">
            <label for="Staff_PAN" class="form-label">PAN</label>
            <input type="text" name="Staff_PAN" class="form-control" id="Staff_PAN" placeholder="Enter PAN">
        </div>
        <div class="mb-3">
            <label for="Staff_aadhar" class="form-label">Aadhar Number</label>
            <input type="number" name="Staff_aadhar" class="form-control" id="Staff_aadhar" placeholder="Enter Aadhar Card Number">
        </div>   
        <div class="mb-3">
            <label for="Staff_phone" class="form-label">PhoneNo</label>
            <input type="phone" name="Staff_phone" class="form-control" id="Staff_phone" placeholder="Enter PhoneNo">
        </div>
        <button type="submit" class="btn btn-primary" style="float:right;">Submit</button>
    </form>
</div>
{% endblock body %}
